<div class="d-flex align-items-center justify-content-center vh-100 my-3">
  <div class="p-0" style="width:450px">
    <div class="bg-white rounded-3 shadow-sm p-5" >
      <h2 class="fw-bold">Update Password</h2>
      <%= form_with model: @user, 
                    url: edit_password_path(params[:token], purpose:"reset_password"), 
                    data:{ turbo: false, 
                          controller: :validates, 
                          "validates-danger-class": "text-red-500", 
                          "validates-success-class": "text-teal-500"
                          }, 
                    class:"needs-validation",
                    novalidate: true do |f| %>
        <div data-controller="password" class="my-3" >
          <div class="d-flex">
            <%= f.label :password, "Password", class: "form-label" do %>
              Password
              <a data-action="click->password#toggle" data-password-target="button" class="ps-1 form-text text-800 text-decoration-none" >
                <i class="fa fa-eye"></i>
              </a>
            <% end %>
          </div>
          <div data-validates-target="form">
            <%= f.password_field :password,
                                   title: :password, 
                                   data: { 
                                     "password-target": "input",
                                      action: "keyup->validates#submit",  
                                      "validates-target": "input",
                                      }, 
                                   pattern: /^[a-zA-Z0-9]{6,}$/,
                                   autocomplete: "new-password",  
                                   required: true, 
                                   class:"form-control",
                                   "aria-describedby": "passwordHelpBlock" 
                                 %>
            <label class="hint form-text" id="passwordHelpBlock">Enter your password</label>
          </div>
          <div class="my-3">
            <%= f.label :password_confirmation, "Confirm Password", class: "form-label" %>
            <div data-validates-target="form">
              <%= f.password_field :password_confirmation,
                                     title: :password,
                                     data: { 
                                       "password-target": "input",
                                       action: "keyup->validates#submit" ,
                                       "validates-target": "input",                                       
                                       },
                                     pattern: /^[a-zA-Z0-9]{6,}$/,
                                     autocomplete: "new-password",  
                                     required: true, 
                                     class:"form-control" 
                                   %>
              <label class="hint form-text" id="confirmation-hint">Passwords must match</label>
            </div>
          </div>
        </div>
        <div class="my-3">
          <%= f.button "Update Password", class:"btn btn-primary w-100" %>
        </div>
      <% end %>
    </div>
    <p class="text-center text-800 mt-4">Not a member?<%= link_to 'Register now', register_path, class:"ps-1 text-800" %></p>
  </div>
</div>
