<div class="d-flex align-items-center justify-content-center my-3" style="min-height:100vh;">
  <div class="p-0" style="width:450px">
    <div class="bg-white rounded-3 shadow-sm p-5" >
      <h2 class="fw-bold">Register</h2>
      <%= form_with model: @user, 
                    url: register_path, 
                    data:{ 
                      turbo: false, 
                      controller:"validates",
                      "validates-danger-class": "text-red-500", 
                      "validates-success-class": "text-teal-500"
                      },
                        class:"needs-validation",
                        novalidate: true do |f| %>
        <div class="my-3">
          <%= f.label :email, class: "form-label" %>
          <div data-validates-target="form">
            <%= f.email_field :email, 
                                      title: :email,
                                      data:{ action: "keyup->validates#submit"}, 
                                      pattern:/^[^@\s]+@[^@\s]+\.[^@\s]+$/, 
                                      autocomplete: "email", 
                                      required: true, 
                                      class:"form-control" 
                                    %>
            <label class="hint form-text">Enter your email address</label>
          </div>
        </div>
        <div data-controller="password" class="my-3" >
          <div class="d-flex">
            <%= f.label :password, "Password", class: "form-label" do %>
              Password
              <a data-action="click->password#toggle" data-password-target="button" class="ps-1 form-text text-800 text-decoration-none" >
                <i class="fa fa-eye"></i>
              </a>
            <% end %>
          </div>
          <div data-validates-target="form">
            <%= f.password_field :password,
                                   title: :password, 
                                   data: { 
                                     "password-target": "input",
                                     action: "keyup->validates#submit",  
                                     "validates-target": "input",
                                     }, 
                                   pattern: /^[a-zA-Z0-9]{6,}$/,
                                   autocomplete: "new-password",  
                                   required: true, 
                                   class:"form-control",
                                   "aria-describedby": "passwordHelpBlock" 
                                 %>
            <label class="hint form-text" id="passwordHelpBlock">Enter your password</label>
          </div>
          <div class="my-3">
            <%= f.label :password_confirmation, "Confirm Password", class: "form-label" %>
            <div data-validates-target="form">
              <%= f.password_field :password_confirmation,
                                     title: :password,
                                     data: { 
                                       "password-target": "input",
                                       action: "keyup->validates#submit" ,
                                       "validates-target": "input",                                       
                                       },
                                     pattern: /^[a-zA-Z0-9]{6,}$/,
                                     autocomplete: "new-password",  
                                     required: true, 
                                     class:"form-control" 
                                   %>
              <label class="hint form-text" id="confirmation-hint">Passwords must match</label>
            </div>
          </div>
        </div>
        <div class="my-4">
          <p class="form-text text-800 text-center">By registering you agree to the
            <%= link_to 'terms of use', terms_path, class:"text-primary text-decoration-none" %> and 
            <%= link_to 'privacy policy', privacy_path, class:"text-primary text-decoration-none" %>
          </p>
        </div>
        <div class="my-3">
          <%= f.button "Register", class:"btn btn-primary w-100" %>
        </div>
      <% end %>
      <div class="row align-items-center my-3">
        <div class="col-5"><hr class="w-100"></div>
        <div class="col-2 text-center text-800">or</div>
        <div class="col-5"><hr class="w-100"></div>
      </div>
      <%= render partial: "components/auth" %>
    </div>
    <p class="text-center text-800 mt-4">Already a member?<%= link_to 'Login now', login_path, class:"ps-1 text-800" %></p>
  </div>
</div>
